.githubSection {
  background: relative;
}

.statsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.statsCard {
  background: rgba(18, 22, 41, 0.4) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.imgWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.statImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 576px) {
  .statsContainer {
    grid-template-columns: 1fr;
  }
}
